.container-sertificates{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
}


.box-sertificates{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    width: calc(100% - 138px);
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}

.sertificat-item1{
  display: grid; 
  place-items: center;
  width: 450px;
  height: 620px;
  /* padding: 10px; */
  background: linear-gradient(
    to bottom, /* Напрямок градієнту: з верхньої частини до нижньої */
    rgba(217, 217, 217, 0.13), /* Початковий колір градієнту */
    rgba(217, 217, 217, 0) /* Кінцевий колір градієнту */
  );
  background-color: yellow;
}

.sertificat-item2{
  display: grid;
  place-items: center;
  width: 600px;
  height: 450px;
  /* padding: 10px; */
 background: linear-gradient(
    to bottom, /* Напрямок градієнту: з верхньої частини до нижньої */
    rgba(217, 217, 217, 0.13), /* Початковий колір градієнту */
    rgba(217, 217, 217, 0) /* Кінцевий колір градієнту */
  );
  background-color: yellow;
}


.sertificat-item1 img{
  width: 400px;
  height: 570px;
    /* width: 380px;
    height: 500px; */
}

.sertificat-item2 img{
  width: 550px;
  height: 400px;
    /* width: 380px;
    height: 500px; */
}