.container-sertificates{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
}


.box-sertificates{
    display: flex;
    gap: 20px;
    width: calc(100% - 138px);
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.sertificat-item{
    /* width: 100%;
    height: auto;
    
   
    height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

img{
    /* width: 380px;
    height: 500px; */
}