.boxDownloadResume {
  display: flex; /* Для центрування */
  justify-content: center;
  align-items: center;
  width: 49px; /* Розмір кнопки */
  height: 49px;
  margin-right: 26px;
}

.boxDownloadResume a{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFA726;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.boxDownloadResume a:hover {
  background-color: #FB8C00;
  transform: scale(1.05);
}

.downloadButton:active {
  transform: scale(1);
}



.boxDownloadResume a svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
  width: 43px;
  height: 43px;
}

.downloadButton::after {
  content: ""; /* Порожній контент за замовчуванням */
  position: absolute;
  top: 60px; /* Розташування під кнопкою */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(18, 17, 17);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}

.downloadButton:hover::after {
  content: "download resume"; /* Текст, який відображається при ховері */
  opacity: 1;
  visibility: visible;
}