.containerMenu{
     position: absolute;
     left: 0;
     width: 25%;
     min-height: calc(100vh - 57px - 60px);
         
     scrollbar-width: none; /* Прибирає скролл на Firefox */
     background-color: rgb(52, 50, 50, 0.3);        
}

@media (max-width: 960px) {
 .containerMenu{  
     width: 100%;
     z-index: 100;
     background-color: black;
  }
}


ul li a{
    text-decoration: none;
     
}

ul{
list-style-type: none;  
}

.nameHref{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 130%;
  line-height: 36px;
  color: #00A8cd;
  letter-spacing: 0.05em;

  word-wrap: break-word; /* Дозволяє переносити слова, які не влазять */
  white-space: normal;   /* Дозволяє переносити текст, якщо він не вміщується в рядок */
}

.nameHref.active {
  color: #fafdfd; /* Колір для активного посилання */
}