.containerMenu{
    width: 300px;
    margin-left: 70px;
    padding: 20px 40px 20px 60px;
    min-height: calc(100vh - 57px - 60px);
    max-height: calc(100vh - 57px - 60px);;
    background-color: rgb(52, 50, 50, 0.3);
     overflow-y: auto; /* Дозволяє вертикальне прокручування */
     scrollbar-width: none; /* Прибирає скролл на Firefox */
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00A8cd;
  letter-spacing: 0.05em;

  word-wrap: break-word; /* Дозволяє переносити слова, які не влазять */
  white-space: normal;   /* Дозволяє переносити текст, якщо він не вміщується в рядок */
}