.containerMenuPage{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
}

.content{
  width: 100%;
  background-color: rgb(62, 62, 69);
}