.containerMenuPage{
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
}

.content{
  position: absolute;
  right: 0;
  min-height: calc(100vh - 57px - 60px);
  width: calc(100% - 25%);
  background-color: rgb(18, 17, 17);
}

.containerForPicture{
    width: 25%;
    height: calc(100vh - 57px - 60px);
/* добавляємо фон для меню */
     background-image: url('../../assets//images/backgroundForMenu.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-color: rgba(30, 30, 30, 0.8);
     background-blend-mode: overlay;
}
 