
.box-imageProject{
    width: 350px;  /* Ширина блока */
  height: 250px; /* Висота блока */
  overflow: hidden; /* Приховує частини картинки, які виходять за межі блоку */
} 
.image-card{
   width: 100%;   /* Розтягнути картинку по ширині блока */
  height: 100%;  /* Розтягнути картинку по висоті блока */
  object-fit: cover; /* Масштабує картинку, щоб заповнити блок, зберігаючи пропорції */
}
.title-project{
    color:white;
}