.card{
   display: block;
   width: 350px;
   height: 293px;
   color: white;
}

.image-project{
  width: 350px;
  height: 250px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}