.card{
   display: block;
   width: 350px;
   max-width: 400px;
   color: white;
   margin-bottom: 20px;
   overflow: hidden;
   /* background-color: red; */
}

@media (max-width: 540px) {
 .card{
   width: 100%; 
   max-width: 300px;
   /* flex-basis: calc(100% / 2); */
  }
}

@media (max-width: 720px) {
 .card{
    width: 450px; 
    max-width: 450px;      
 }
}

@media (max-width: 540px) {
 .card{
    width: 100%; 
    /* max-width: 400px;       */
 }
}


.image-project{
  width: 100%;
  height: 260px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: scale 400ms;
  /* background-color: red;  */
}

@media (max-width: 720px) {

  .image-project{
    height: 310px;
  }
}

.card:hover img{
  scale: 105%;
}

.title-project{
  margin: 0px;
}

.box-href-to-project{
  display: flex;
  align-items: baseline;
}

.box-href-to-project img{
  margin-right: 8px;
  
}

.title-text-card{
 margin-right: 8px;
}

.text-projectType{
  color: #00A8CD;
  margin: 0;
}

.text-framework{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #00A8CD;
  margin: 0px 0px 5px 0px;
}

.title-text-card{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project-list-item{
  /* background-color: red; */
}

@media (max-width: 960px) {
 .project-list-item{
    display: flex;
    justify-content: space-around;
    
  }
}

@media (max-width: 540px) {
 .project-list-item{
   width: 100%;
   margin-left: 10px;
   margin-right: 10px;
  }
}
