.projects-container{    
    top: 56px;
    max-width: 1090px;  
    /* height: calc(100vh - 78px); */
    background-color: rgb(18, 17, 17);
    /* background-color: red; */
  
}

.fixed-container-text{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
   max-width: 1090px;
  margin-top: 57px;
  background-color: rgb(18, 17, 17, 0.9) ;
  box-sizing: border-box;
}

.box-for-text-project{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  /* background-color: #00A8CD; */
}
.title-myProjects{
   display: flex;
   justify-content: center;
   width: 100%;
  max-width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: #00A8CD; */

   font-family: "Inter", sans-serif;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #ffffff;
   letter-spacing: 0.05em;
}


.myprojects-text-white{
  color: white;
  margin-right: 4px;
  margin-top: 0;
  margin-bottom: 7px;
}

.myprojects-text-blue{
color: #00A8CD;
 margin-top: 0;
  margin-bottom: 7px;
}

.myprojects-text-aboutprojects{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word; /* перенос довгих слів */
    margin-top: 0px;
    margin-bottom: 26px;
    max-width: 1090px;
    color: white;

   font-family: "Inter", sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #ffffff;
   letter-spacing: 0.05em;
   /* background-color: #00A8CD; */
}

@media (max-width: 540px) {
 .myprojects-text-aboutprojects{
   width: 80%;
  }
}

.filter-box{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 20px;
  margin-bottom: 27px;
}

.filter-item{
   display: flex;
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: center; /* Вирівнювання по горизонталі */
  height: 20px; /* або потрібна висота */

  background-color: #00A8CD;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.0;
}

.box-btnShowAll{
  display: block;
  width: 118px;
  height: 34px;
 
  margin-left: auto;
  margin-right: auto;
   margin-bottom: 10px;
  /* margin-top: 5px; */
}

.button-ShowAll{
  width: 100%;
  height: 100%;
  background-color: #00A8CD;
  border-radius: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  cursor: pointer;
 
}

.button-ShowAll:hover{
  background-color: #87E9FE;
}

