.containerForgotPassword{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #00A8CD;
}

.boxTextForgotPassword{
  width: 600px;
   margin-top: calc(100vh / 6);
   margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 768px) {
 .boxTextForgotPassword{
       width: 80%;
  }
}

.containerForForm{
 display: block;
 width: 600px;
 border-radius: 10px;
 margin-left: auto;
  margin-right: auto;
  background-color: #2c2f38;
  background: linear-gradient(
    to bottom, /* Напрямок градієнту: з верхньої частини до нижньої */
    rgba(217, 217, 217, 0.13), /* Початковий колір градієнту */
    rgba(217, 217, 217, 0) /* Кінцевий колір градієнту */
  );
}

@media (max-width: 768px) {
 .containerForForm{
       width: 80%;
  }
}

.formEmail{
  padding: 20px;
  
}

.formInput{
    position: relative;
}

input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px #15819a solid;
    outline: none;

    font-family: "Inter", sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #ffffff;
   letter-spacing: 0.05em;
}



label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #888;
    transition: all 0.3s ease;
    pointer-events: none;
}

/* Піднімаємо label при фокусі або наявності контенту */
input:focus + label,
.formInput.hasContent label {
    top: -10px;
    font-size: 12px;
    color: #15819a;
}

input:placeholder-shown + label {
    top: 30px;
    font-size: 6px;
    color: #888;
}

.boxBtnSendEmail{
    display: flex;
   justify-content: center; 
   align-items: center;
   height: 100%;

}

.buttonSendEmail{
     width: 128px;
    height: 43px;
    border-radius: 5px;
    background-color: #00A8cd;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.buttonSendEmail:hover {
    background-color: #87E9FE;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  text-align: left;
}

