.container-header{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 99;
  width: 100%;
  max-width: 1280px; 
  height: 56px;
  background-color: rgb(18, 17, 17);
  border: 2px solid #000000;
  color: white;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  letter-spacing: 0.05em;
   font-family: "Poppins", sans-serif;
   z-index: 900;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS для середніх планшетів */
}

.myLogo{
  display: flex;
  align-items: center;
  margin-left: 70px;
}

@media (max-width: 960px) {
 .myLogo{
    margin-left: 40px;       
  }
}

.box-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 70px;
   transition: all 0.3s ease;
  /* overflow: hidden; */
  /* background-color: red; */
 
}

@media (max-width: 360px){
  .box-avatar{
    margin-left: auto;
    margin-right: auto;
  }
}


.box-avatar.activeImage  {
   /* border: 2px solid transparent;
   background-image: radial-gradient(circle, #00A8cd 15%, transparent 100%);
   filter: blur(0.3px); 
   box-shadow: 0 0 10px rgba(0, 168, 205, 1); 
    transform: scale(1.1);  */
}

.box-avatar .avatar {
  width: 70%;
  height: 70%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Плавний перехід для зменшення/збільшення */
}



/* Стиль для активації аватарки */
.box-avatar.activeImage .avatar {
  transform: scale(1.2);  /* Збільшення аватара при активації */
}

.box-avatar.activeImage:hover {
  
}
.box-avatar .avatar line{
   stroke: white;
}

/* Зміна кольору лінії SVG */
.box-avatar.activeImage .avatar line {
  stroke: #d16d37; /* Змінюємо колір лінії при активації */
}

.text{  
  color: white;
  text-decoration: none;
}

.box-links{
  display: flex;
  gap: 20px;
  text-decoration: none;
  /* margin-right: 70px; */
}

@media (max-width: 960px) {
  .box-links{
    margin-right: 0px;
  }

  .box-links.open {
 flex-direction: column;
  align-items: center; /* Center horizontally */
  position: absolute;
  top: 200px; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Adjust position to center */
  z-index: 100;  
  }
}

.active{
  color: #00A8cd;
}

.container-logo{

}

.logo{
  width: 50px;
  height: auto;
  margin-right: 10px;
  /* filter: invert(71%) sepia(11%) saturate(3065%) hue-rotate(156deg) brightness(96%) contrast(91%); */
}

.container-languageIcon{
  display: flex;
  position: relative;
  margin-right: 1px;
  margin-left: 10px;
 width: 40px;
 height: 40px;
 transition: all 0.3s ease;
}

/* .container-languageIcon:hover{
  transform: scale(1.05);
} */

.language{
  width: 30px;
  height: auto;
  fill: #FFA726;
  transition: all 0.3s ease;
}

.language:hover{
fill: #FB8C00;
transform: scale(1.05);
}

.linkActive img{ 
   box-shadow: 0px 0px 15px rgba(0, 123, 255, 0.6); /* Синя тінь */
}
/* для бургера */
.burger {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  /* margin-top: 20px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;
  gap: 5px;
  cursor: pointer;
}

@media (max-width: 960px) {
 .burger{
    display: block; 
    margin-right: 40px;      
  }
  .box-links.close{
    display: none;
  }
}


.burger .line{
  width: 100%;
  margin-bottom: 10px;
  height: 3px;
  background-color: rgb(63, 63, 153);
}



/* для бекдропа */
.backdrop {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgb(18, 17, 17);
  z-index: 98; /* Just below the header */
  transition: transform 0.5s ease;
}

@media (min-width: 961px){
 .backdrop{
  display: none;

 }
 
}

@media (max-width: 360px) {
  .truncate-to-first-letter {
  display: inline-block;
  max-width: 1.5ch; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.truncate-to-first-letter::after {
  content: "..."; 
  display: inline;
}
}


