.container-homePage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 78px);
  margin-top: 56px;
  background-color: rgb(18, 17, 17);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
}

.list-homepage{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

.line{
  width: calc(100vw / 2);
  height: 1px;
  background: linear-gradient(
    to right, /* напрямок градієнту: відверху вниз */
    rgba(0, 168, 205), /* початковий колір */
    rgba(0, 168, 205, 0) /* кінцевий колір */
  );  
  margin-left: auto;
  margin-right: auto;
}

.item{
  flex: 1;
  /* border: 1px solid white; */
  
}


.item-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: calc(100% / 2);
  padding-left: 69px;
  padding-top: 84px;
}

.item-right{
  position: relative;
}



.text-name{
  display: block;
  width: 95%;
  overflow-wrap: break-word; /* перенос довгих слів */  
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-size: 40px;
   line-height: 60px;
   color: #ffffff;
   letter-spacing: 0.05em;
   margin-bottom: 0px;
   margin-top: 0px;
}

.text-profession{
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00A8cd;
  letter-spacing: 0.05em;
  margin-top: -5px;
  margin-bottom: 12px;
}

.text-aboutMe{
  font-family: "Poppins", sans-serif;
  width: 485px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.05em;
  hyphens: auto; /*для переносу текста*/
  word-wrap: break-word;
}

.box-myPfoto{
  position: relative;
  display: block;
  width: 260px;
  /* height: 380px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 124px;
  margin-bottom: 160px;
  /* background-color: #00A8cd; */
}

.myPhoto{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.circle{
  position: absolute;
  top:58px;
  transform: rotate(30deg);
  width: 344px;
  height: 344px;
  border-radius: 50%;
  background: linear-gradient(
    to right, /* напрямок градієнту: відверху вниз */
    rgba(0, 168, 205, 0.30), /* початковий колір */
    rgba(217, 217, 217, 0) /* кінцевий колір */
  );  
  z-index: 90;
}

.circle2{
  position: absolute;
  top: 290px;
  right: 66px;
  width: 273px;
  height: 273px;
   border-radius: 50%;
  background: linear-gradient(
    to right, /* напрямок градієнту: відверху вниз */
    rgba(217, 217, 217, 0.26), /* початковий колір */
    rgba(217, 217, 217, 0) /* кінцевий колір */
  );  
  z-index: 92;
}

.box-btnContactMe{
  margin-right: 26px;
}

.button-contactMe{
  width: 128px;
  height: 43px;
  border-radius: 5px;
  background-color: #00A8cd;
  color: white;
  cursor: pointer;
   font-family: "Poppins", sans-serif;
}

.button-contactMe:hover{
  background-color: #87E9FE;
}

.box-networks{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-Imagecontact{
  width: 25px;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.box-contacts{
  display: flex;
}

.skill-photo{
  position: relative;
  height: 69px;
  width: auto;
}

.javascript{
  position: absolute;
  top: -50px;
  right: -10px;
}

.html{
  position: absolute;
  top: 200px;
  right: 230px;
}

.css{
  position: absolute;
  top: 150px;
  right: -50px;
  opacity: 0.5;
}

.react{
position: absolute;
top: -50px;
left: -80px;
opacity: 0.5;
}

.redux{
position: absolute;
top: 10px;
left: 235px;
opacity: 0.5;
}